body {
    background-color: #ffffff;
    overflow-x: hidden
}

.browser-default {
    width: 50%;
}

.row {
    text-align: center;
    padding-top: 0px;
}

.col {
    text-align: center;
}

.list-group-item {
    padding: 7px;
    text-align: left;
    background-color: #E9ECEF;
    border: 0.1px solid #ddd;
}


#header {
    background-image: url('..//img/banner.png');
    min-height: 100px;
    min-width: 100vw;
    background-size: auto;
}

.col-md-12 {
    text-align: center;
}

#results {
    width: 100%;
    margin: 0 auto;
}

#loading {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
}

#footer {
    text-align: center;
    font-size: 15px;
    position: fixed;
    left: 0px;
    bottom: 30px;
    height: 30px;
    width: 100%;
}