body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.browser-default {
    width: 50%;
}

.row {
    text-align: center;
    padding-top: 0px;
}

.col {
    text-align: center;
}

.list-group-item {
    padding: 0px;
    background-color: #E9ECEF;
    border: 0.1px solid #ddd;
    display: inline-block;
    ;
}

.stat-title {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    float: left;
}

.stat-number {
    text-align: right;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 18px;
}

.news-section {
    padding-top: 0px;
    text-align: left;
    height: 475px;
    background-color: #ffff;
    overflow: auto;
}

#header {
    background-image: url('..//img/banner.png');
    min-height: 100px;
    min-width: 100vw;
    background-size: auto;
}

.col-md-12 {
    text-align: center;
}

#results {
    width: 100%;
    margin: 0 auto;
}

#loading {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
}

* {
    overflow-x: hidden;
}

#footer {
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
}

/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}