body {
    background-color: #ffffff;
    overflow-x: hidden;
}

.browser-default {
    width: 50%;
}

.row {
    text-align: center;
    padding-top: 0px;
}

.col {
    text-align: center;
}

.list-group-item {
    padding: 0px;
    background-color: #E9ECEF;
    border: 0.1px solid #ddd;
    display: inline-block;
    ;
}

.stat-title {
    padding-left: 5px;
    padding-top: 5px;
    font-size: 16px;
    float: left;
}

.stat-number {
    text-align: right;
    float: right;
    padding-top: 5px;
    padding-right: 5px;
    font-size: 18px;
}

.news-section {
    text-align: left;
    width: 90%;
    margin: 0 auto;
    height: 500px;
    background-color: #ffff;
    overflow: auto;
}

#header {
    background-image: url('..//img/banner.png');
    min-height: 100px;
    min-width: 100vw;
    background-size: auto;
}

.col-md-12 {
    text-align: center;
}

#results {
    width: 100%;
    margin: 0 auto;
}

#loading {
    display: none;
    margin-left: auto;
    margin-right: auto;
    width: 5rem;
    height: 5rem;
}

* {
    overflow-x: hidden;
}

#footer {
    text-align: center;
    font-size: 15px;
    padding-top: 50px;
}