<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>wsb-rand-stock</title>
    <!-- CSS imports-->
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel="stylesheet"
        type="text/css">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
</head>
<html>

<body>

    <div class="jumbotron" id='header'>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <h3>Random Ticker Symbol Generator</h3>
            <h5>Dedicated to the r/wallstreetbets community</h5>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <select class="browser-default custom-select" id='market-select'>
                <option value="" selected>Choose Market</option>
                <option value="rand-nasdaq">NASDAQ</option>
                <option value="rand-amex">AMEX</option>
                <option value="rand-nyse">NYSE</option>
            </select>
            <button type="button" id="generate-random" class="btn btn-success">Get Random Ticker Symbol</button>
        </div>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <div class="jumbotron text-center" id='results'>
                <div class='container-fluid'>
                    <div class="row" id='main-ticker-result'>
                        <div class="col-md-2" style='text-align: center'>
                            <h5>Ticker Symbol: </h5>
                            <br>
                            <h1 id='ticker-symbol'></h1>
                        </div>
                    
                        <div class="col-md-10">
                            <div class='container-fluid' id='graph' style='width: 100%'></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript-->
        <script type="text/javascript" src='https://www.gstatic.com/charts/loader.js'></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <scipt src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></scipt>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>
        <footer id='footer'>
            <p>Created by Oscar Jaimes</p>
        </footer>
</body>

</html>