<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>RTG</title>
    <!-- CSS imports-->
    <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' rel="stylesheet"
        type="text/css">
    <link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet" type="text/css">
</head>
<html>

<body>

    <div class="jumbotron" id='header'>
    </div>

    <div class='row'>
        <div class='col-md-12'>
            <h4 id='title'>Random Ticker Symbol Generator</h4>
        </div>
    </div>

    <div class='row'>
        <div class='col'>
            <h6>Market</h6>
            <select class="browser-default custom-select" id='market-select'>
                <option selected value="rand-nasdaq">NASDAQ</option>
                <option value="rand-amex">AMEX</option>
                <option value="rand-nyse">NYSE</option>
            </select>
        </div>

        <div class='col'>
            <h6>Sector</h6>
            <select class="browser-default custom-select" id='sector-select'>
                <option selected value="Technology">Technology</option>
            </select>
        </div>

        <div class='col'>
            <br>
            <button type="button" id="generate-random" class="btn btn-dark">Get Ticker Symbol</button>
        </div>
    </div>
    <br><br>
    <div class='row' style='padding-top: 0px'>
        <div class='col-md-12'>
            <div class="jumbotron text-center" id='results' style='padding: 20px'>
                <div class='container-fluid' style='padding-top: 0px'>
                    <div class="row" id='main-ticker-result' style='padding-top: 0px'>
                        <div class="col">
                            <h5>Ticker Symbol: </h5>
                            <h2 id='ticker-symbol' style='color: #0645AD'></h2>
                        </div>
                        <div class="col">
                            <h5>Market: </h5>
                            <h2 id='chosen-market'></h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <!-- TradingView Widget BEGIN -->
                            <div class="tradingview-widget-container"
                                style='text-align:center; margin-left: auto; margin-right: auto'>
                                <div id="tradingview_6b594"></div>
                                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                            </div>
                            <!-- TradingView Widget END -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- JavaScript-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <scipt src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></scipt>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="{{url_for('static', filename='js/main.js')}}"></script>


        <footer id='footer'>
            <div class='row'>
                <div class='col'>
                    <a href="https://github.com/oscjaimes/wsb-rand-stock">Github Repo</a>
                </div>
                <div class='col'>
                    <div>
                        <p>Created by oscjaimes</p>
                    </div>
                </div>
                <div class='col'>
                    <p>Graphs from <a href='https://www.tradingview.com/'>Trading View</a></p>
                </div>
            </div>
        </footer>
</body>

</html>